.input__label {
  display: block;
  background: var(--el-bg);
  border-radius: var(--border-radius);
  border: 1px solid #43474E;
  width:100%;
  height: 68px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: var(--neon-silver);
  position: relative;

  .symbol {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
  }
}
.input{
  padding: 20px 16px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: var(--neon-silver);
  text-align: left;
  background: transparent;
  box-shadow: none;
  border: none;

  &:focus {
    outline: none;
  }
}
