.text_chips {
  min-width: 101px;
  padding: 6px 8px;
  border-radius: 12px;
  border: 1px solid #8D9199;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  color: var(--color-text-strong);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 8px
  }

  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__text {
    flex-grow: 1;
  }
}

.close_btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  display: block;
  background: transparent;
  position: relative;

  &:focus {
    background: transparent;
  }

  &::before,
  &::after {
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 0;
    content: '';
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    border-radius: 50px;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
