.token_select {
  width: 420px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-color: rgba(255,255,255,0) rgba(255,255,255,0.2); /*Mozilla*/
  scrollbar-width: thin; /*Mozilla*/

  &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
  }
  &::-webkit-scrollbar-thumb{
      background-color: rgba(255,255,255,0.2);
      border-radius: 100px;
  }

  &__default {
    .token_select__item {
      background-color: #374B3E;
    }
  }

  &__selected {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__items {
    margin-top: 20px;
  }

  &__label,
  &__default{
    cursor:pointer;
    color:var(--neon-silver);
    position:relative;
    width: 100%;
    height: 56px;
  }

  &__item{
    width: 100%;
    height: 100%;
    padding: 8px;
    display:flex;
    align-items:center;

    &:hover {
      background-color: #374B3E;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;
    }
  }

  &__info {
    margin-left: 4px;
  }

  &__title{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.25px;
  }

  &__name {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.333;
    text-transform: uppercase;
  }
}
.input{
  opacity:0;
  height:0;
  width:0;
  visibility:hidden;
  overflow:hidden;
  position:absolute;

  &:checked + .token_select__item {
    background-color: #374B3E;
  }
}