:root {
  --accent-color: #39E193;
  --dark-on-primary: #003920;
  --dark-on-primary-rgb: 0,57,32;
  --main-bg: #131316;
  --neon-silver: #C7C6CA;
  --neon-silver-rgb: 199, 198, 202;
  --disabled-bg-rgb: 230,224,233;
  --border-radius: 8px;
  --el-bg: #292A2D;
  --color-text-strong: #C3C6CF;
}
