@import './scss/reset';
@import './scss/vars';

b {
  display: inline-block;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 1.25rem;
}

ul,
ol {
  margin-top: 1rem;
  padding-left: 25px;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.25;
  font-size: 16px;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
