.header {
  display: flex;
  padding: 24px;
  align-items: center;
  align-self: stretch;
  background: #1b1b1f;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 96px;
    margin-right: auto;
    a {
      padding: 8px;
      border-radius: 4px;
      background: var(--m-3-sys-dark-surface-container-high, #1b1b1f);
      padding: 8px;
      color: #c3c6cf;

      &.active {
        background-color: #292a2d;
        color: #a3cddc;
      }
    }
  }
}
